h1{
	margin-left:100px;
	color:white;
	background-color:blue;
	padding:10px;
	text-transform:uppercase;
	text-align:center
}
img{
		margin-left:950px;
}
p.first{
	    margin-left:400px;
}
p.second{
	margin-left:200px;
}
table{
	margin-left:200px;
}
p.Three{
	margin-left:400px;
}
p.Four{
	margin-left:600px;
}
p.Five{
	margin-left:600px;
}
p.Six{
	margin-left:600px;
}